<title>Blog Application</title>
<body>

  <h1>Welcome to the Blog Application</h1>
  <h2>Let's get started !!!!!</h2>

  <div class="links-container">
    <%= link_to "Login", new_user_session_path, class: "navbar-link" %> 
    <%= link_to "Sign up", new_user_registration_path, class: "navbar-link" %>
  </div>

</body>
